<?php /** @var $block \Home\Travel\Block\Ticket */ ?>
<div>
    <div>
        <h3>Fill in all the fields</h3>
    </div>
    <div>
        <form action="/travel/add/save"" method="post">
            <input type="text" placeholder="ID" id="ticket_id" name="ticket_id">
            <input type="text" placeholder="Title" id="title" name="title">
            <input type="number" placeholder="Price" id="price" name="price">
            <input type="number" placeholder="Airport Id" id="airport_id" name="airport_id">
            <input type="number" placeholder="Airport from Id" id="airport_from_id" name="airport_from_id">
            <div>
                <div>
                    Time Start:
                </div>
                <input type="date" id="time_start" name="time_start">
            </div>
            <div>
                <div>
                    Time Finish:
                </div>
                <input type="date" id="time_finish" name="time_finish">
            </div>
            <hr>
            <input type="submit" value="Save">
        </form>
        <br>
        <a href="/travel">Go back</a>
    </div>
</div>

