<?php /** @var $block \Home\Travel\Block\Ticket */ ?>
<div style="background: rgba(102,102,102, 0.2); padding: 20px; border-radius: 15px;">
    <div style="display: flex; text-align: justify;">
        <div>
            <h3>Cruise table</h3>
        </div>
    </div>
    <hr>
    <?php
    $items = $block->getTravelList();
    ?>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Price</th>
                <th>Airport from ID</th>
                <th>Airport ID</th>
                <th>Time Start</th>
                <th>Time Finish</th>
            </tr>
        <?php
        foreach ($items as $item):
            $url = $block->getUrl('travel/view/index/id/' . $item->getId());
        ?>
            <tr>
                <th><a href="<?= $url ?>"><?= $item->getId(); ?></a></th>
                <th><a href="<?= $url ?>"><?= $item->getTitle(); ?></a></th>
                <th><a href="<?= $url ?>"><?= $item->getPrice(); ?></a></th>
                <th><a href="<?= $url ?>"><?= $item->getAirportFromId(); ?></a></th>
                <th><a href="<?= $url ?>"><?= $item->getAirportId(); ?></a></th>
                <th><a href="<?= $url ?>"><?= $item->getTimeStart(); ?></a></th>
                <th><a href="<?= $url ?>"><?= $item->getTimeFinish(); ?></a></th>
            </tr>
        <?php endforeach; ?>
        </table>
    </div>
    <hr>
    <div>
        <button style="width: 100%; border-radius: 10px;" onclick="location.href = '/travel/add'">Add new</button>
    </div>
</div>