<?php /** @var $block \Home\Travel\Block\Ticket */ ?>
<div>
    <div>
        <h3>Fill in all the fields</h3>
    </div>
    <div>
        <form action="/travel/update/save" method="post">
            <?php
                $ticket = $block->getTicket();
            ?>
            <input type="text" placeholder="ID" id="ticket_id" name="ticket_id" value="<?= $ticket->getId() ?>">
            <input type="text" placeholder="Title" id="title" name="title" value="<?= $ticket->getTitle() ?>">
            <input type="number" placeholder="Price" id="price" name="price" value="<?= $ticket->getPrice() ?>">
            <input type="number" placeholder="Airport Id" id="airport_id" name="airport_id" value="<?= $ticket->getAirportId() ?>">
            <input type="number" placeholder="Airport from Id" id="airport_from_id" name="airport_from_id" value="<?= $ticket->getAirportFromId() ?>">
            <div>
                <div>
                    Time Start:
                </div>
                <input type="date" id="time_start" name="time_start" value="<?= $ticket->getTimeStart() ?>">
            </div>
            <div>
                <div>
                    Time Finish:
                </div>
                <input type="date" id="time_finish" name="time_finish" value="<?= $ticket->getTimeFinish() ?>">
            </div>
            <hr>
            <input type="submit" value="Save">
        </form>
        <br>
        <a href="/travel">Go back</a>
    </div>
</div>

