<?php /** @var $block \Home\Travel\Block\Ticket */ ?>
<?php
$ticket = $block->getTicket();
if (!empty($ticket)): ?>
<div>
    <h2>Title: <?php echo$ticket->getTitle() ?></h2>
        <div>
            <ul>
                <li>
                    Price: <?= $ticket->getPrice() ?> $ (dollars)
                </li>
                <li>
                    From: <?= $ticket->getAirportFromId() ?>
                </li>
                <li>
                    In: <?= $ticket->getAirportId() ?>
                </li>
                <li>
                    Time Start: <?= $ticket->getTimeStart() ?>
                </li>
                <li>
                    Time Finish: <?= $ticket->getTimeFinish() ?>
                </li>
                <li>
                    Total flight time:
                    <?php
                        $a = strtotime($ticket->getTimeStart());
                        $b = strtotime($ticket->getTimeFinish());
                        echo ($b-$a)/60/60;
                    ?>
                    hours
                </li>
            </ul>
        </div>
    <div>
        <button onclick='location.href = "<?= $block->getUrl('travel/update/index/id/'.$ticket->getId()) ?>"'>Update</button>

        <button onclick='location.href = "<?= $block->getUrl('travel/delete/delete/id/'.$ticket->getId()) ?>"'>Remove</button>
    </div>
<?php endif; ?>
<div>
    <br>
    <a href="<?= $block->getUrl('travel'); ?>">Go Back</a>
</div>
